.App {
  padding: 30px;
  display: flex;
}
.App > div {
  margin: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: rgb(0, 157, 255);
}

.is-done {
  opacity: 0.5;
}
